﻿<form (ngSubmit)="save()">
    {{diagnostic}}

    <div class="form-group">
        <label>Caption</label>
        <input type="text" class="form-control" placeholder="Caption" [(ngModel)]="model.caption">
    </div>
    <div class="form-group">
        <label>Longitude</label>
        <input type="text" class="form-control" placeholder="Longitude" [(ngModel)]="model.longitude">
    </div>
    <div class="form-group">
        <label>Latitude</label>
        <input type="text" class="form-control" placeholder="Latitude" [(ngModel)]="model.latitude">
    </div>
    <div class="form-group">
        <map-input [(latitude)]="model.latitude" [(longitude)]="model.longitude"></map-input>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
</form>