﻿<div class="form-box">
    <div class="form-top">
        <div class="form-top-left">
            <h3>Login to our site</h3>
            <p>Enter email and password to log on:</p>
        </div>
        <div class="form-top-right">
            <i class="fa fa-key"></i>
        </div>
    </div>
    <div class="form-bottom">
        <form role="form" action="" method="post" class="login-form">
            <div class="form-group">
                <label class="sr-only" for="form-username">Email</label>
                <input type="text" name="form-username" [(ngModel)]="email" placeholder="Email..." class="form-username form-control" id="form-username">
            </div>
            <div class="form-group">
                <label class="sr-only" for="form-password">Password</label>
                <input type="password" name="form-password" [(ngModel)]="password" placeholder="Password..." class="form-password form-control" id="form-password">
            </div>
            <button type="submit" class="btn">Sign in!</button>
        </form>
    </div>
</div>

<div class="social-login">
    <h3>...or login with:</h3>
    <div class="social-login-buttons">
        <a class="btn btn-link-1 btn-link-1-facebook" href="#" (click)="signInByFacebook()">
            <i class="fa fa-facebook"></i> Facebook
        </a>
        <a class="btn btn-link-1 btn-link-1-twitter" href="#" (click)="signInByVkontakte()">
            <i class="fa fa-twitter"></i> Twitter
        </a>
        <a class="btn btn-link-1 btn-link-1-google-plus" href="#" (click)="signInByGoogle()">
            <i class="fa fa-google-plus"></i> Google Plus
        </a>
    </div>
</div>