﻿<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"] - RealEstate</title>
    </head>
    <body>
        @RenderBody()

        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="../js/Auth/externalAuthPopup.js"></script>

        @RenderSection("scripts", required: false)
    </body>
</html>
