<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">SOLID.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="index.html">HOME</a></li>
                <li><a href="about.html">ABOUT</a></li>
                <li><a href="contact.html">CONTACT</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog.html">BLOG</a></li>
                        <li><a href="single-post.html">SINGLE POST</a></li>
                        <li><a href="portfolio.html">PORTFOLIO</a></li>
                        <li><a href="single-project.html">SINGLE PROJECT</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div style="height: 60px"></div>

<div class="userBlock" *ngIf="_accountService.isAuthenticated()">
    <div class="photo">
        <img src="{{_accountService.currentUser.photoUrl}}" />
    </div>
    <div class="caption">
        <p>{{_accountService.currentUser.displayName}}</p>
        <p><a (click)="_accountService.logout()">logout</a></p>
    </div>
</div>
<!--<map></map>
<sign-in-form ></sign-in-form>
    -->
<apartment-form></apartment-form>