﻿#page-load-spinner{
    width: 100px;
    height: 100px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

map{
    position: absolute;
    width: 100%;
    height: 100%;
}

map-input{
    height: 300px;
    width: 100%;
    display: inline-block;
    position: relative;
}

mapp {
    position: absolute;
    width: 400px;
    height: 400px;
    top:0;
    left:0;
    z-index: -1;
}

.userBlock{
    background-color: white;
    border-radius: 5px;
    position:absolute;
    right: 50px;
    top: 20px;
    padding: 5px;
    width: 200px;

    .photo{
        float: left;
        margin-right: 5px;

        img{
            width: 50px;
            height: 50px;
        }
    }
    .caption{

    }
}