﻿<!-- @using RealEstate.Helpers;
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="../lib/leaflet/dist/leaflet.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../lib/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="../lib/leaflet.markercluster/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="../css/StyleSheet.css" />





<div>
    @if (User.Identity.IsAuthenticated)
    {
        <div class="userBlock">
            <div class="photo">
                <img src="@User.GetPhotoUrl()" />
            </div>
            <div class="caption">
                <p>@User.GetDisplayName()</p>
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    <p><a href="javascript:document.getElementById('logoutForm').submit()">logout</a></p>
                }
            </div>
        </div>
                }

    <div id="map"></div>
</div>
    -->

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../lib/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="../lib/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="../lib/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="../lib/leaflet.markercluster/dist/MarkerCluster.Default.css" />
<link rel="stylesheet" href="../css/mainStyles.css" />

<cache vary-by="@Context.Request.Path">
    <app>
        <div id="page-load-spinner">
            <img src="~/images/loader-dark.gif"/>
        </div>
    </app>
</cache>

@section scripts {
    <script src="~/lib/node/es6-shim.min.js"></script>
    <script src="~/lib/node/system-polyfills.js"></script>

    <script src="~/lib/node/angular2-polyfills.js"></script>
    <script src="~/lib/node/system.src.js"></script>
    <script src="~/lib/node/Rx.js"></script>
    <script src="~/lib/node/angular2.dev.js"></script>
    <script src="~/lib/node/http.dev.js"></script>

    <script src="../lib/leaflet/dist/leaflet.js"></script>
    <script src="../lib/leaflet.markercluster/dist/leaflet.markercluster-src.js"></script>

    <script>
        System.config({
            packages: {
                "js/app": {
                    format: 'register',
                    defaultExtension: 'js'
                }
            }
        });
        System.import('./js/app/bootstrap')
              .catch(console.error.bind(console));
    </script>
}